@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    border: 1px solid #FF8A00;
    color: #FF8A00;
    transition: .2s;
    background: none;
}

body {
    background: #F9F9F9;
}

.card:hover .box {
    opacity: 1;
    bottom: 0;
    transition: .5s;
}